<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Game!"
        android:roundIcon="@drawable/first_img"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyApplication">
        <activity
            android:name=".First_Layout"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"></activity>
        <activity android:name=".First_Select"></activity>
        <activity android:name=".Select_load"></activity>
        <activity android:name=".Select_new"></activity>
        <activity android:name=".Select_Characters"></activity>
        <activity android:name=".MiniGame_1"></activity>
        <activity android:name=".MiniGame_2"></activity>
        <activity android:name=".MiniGame_3"></activity>
    </application>

</manifest>